@charset "UTF-8";
.slideGroup{ width:510px; border:1px solid #ddd; text-align:left;  }
.slideGroup .parHd{ height:30px; line-height:30px; background:#f4f4f4; padding:0 20px; border-bottom:1px solid #ddd;  position:relative;  }
.slideGroup .parHd ul{ float:left; position:absolute; left:20px; top:-1px; height:32px;   }
.slideGroup .parHd ul li{ float:left; padding:0 15px; cursor:pointer;  }
.slideGroup .parHd ul li.on{ height:30px;  background:#fff; border:1px solid #ddd; border-bottom:2px solid #fff; }
.slideGroup .slideBox{ overflow:hidden; zoom:1; padding:10px 0 10px 42px; position:relative;   }

.slideGroup .sPrev,.slideGroup .sNext{ position:absolute; left:5px; top:10px; display:block; width:30px; height:94px; border:1px solid #ddd; background:url(images/icoLeft.gif) center center no-repeat #f4f4f4; }
.slideGroup .sNext{ left:auto; right:5px; background:url(images/icoRight.gif) center center no-repeat #f4f4f4;  }
.slideGroup .sPrev:hover,.slideGroup .sNext:hover{ border-color:#f60;  }

.slideGroup .parBd ul{ overflow:hidden; zoom:1;   }
.slideGroup .parBd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.slideGroup .parBd ul li .pic{ text-align:center; }
.slideGroup .parBd ul li .pic img{ width:120px; height:90px; display:block;  padding:2px; border:1px solid #ccc; }
.slideGroup .parBd ul li .pic a:hover img{ border-color:#999;  }
.slideGroup .parBd ul li .title{ line-height:24px;   }