<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>UI资源/粒子.png</key>
      <dict>
        <key>frame</key>
        <string>{{1910,232},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>UI资源/俱乐部_字.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,424},{359,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{359,171}}</string>
        <key>sourceSize</key>
        <string>{359,171}</string>
      </dict>
      <key>UI资源/c_00004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1255,424},{150,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,180}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>UI资源/c_00003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1559,424},{150,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,180}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>UI资源/c_00002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1711,424},{150,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,180}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>UI资源/c_00001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1407,424},{150,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,180}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>UI资源/c_00000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1103,424},{150,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,180}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>UI资源/g.png</key>
      <dict>
        <key>frame</key>
        <string>{{1910,130},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>UI资源/xd.png</key>
      <dict>
        <key>frame</key>
        <string>{{1952,232},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>UI资源/p.png</key>
      <dict>
        <key>frame</key>
        <string>{{2012,130},{33,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,66}}</string>
        <key>sourceSize</key>
        <string>{33,66}</string>
      </dict>
      <key>UI资源/创建.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,424},{375,185}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,185}}</string>
        <key>sourceSize</key>
        <string>{375,185}</string>
      </dict>
      <key>UI资源/cj_00009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{380,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,210}}</string>
        <key>sourceSize</key>
        <string>{380,210}</string>
      </dict>
      <key>UI资源/cj_00008.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,0},{380,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,210}}</string>
        <key>sourceSize</key>
        <string>{380,210}</string>
      </dict>
      <key>UI资源/cj_00007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1146,0},{380,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,210}}</string>
        <key>sourceSize</key>
        <string>{380,210}</string>
      </dict>
      <key>UI资源/cj_00006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1146,212},{380,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,210}}</string>
        <key>sourceSize</key>
        <string>{380,210}</string>
      </dict>
      <key>UI资源/cj_00005.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,212},{380,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,210}}</string>
        <key>sourceSize</key>
        <string>{380,210}</string>
      </dict>
      <key>UI资源/cj_00004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1528,0},{380,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,210}}</string>
        <key>sourceSize</key>
        <string>{380,210}</string>
      </dict>
      <key>UI资源/jr_00003.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,0},{380,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,210}}</string>
        <key>sourceSize</key>
        <string>{380,210}</string>
      </dict>
      <key>UI资源/jr_00002.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,212},{380,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,210}}</string>
        <key>sourceSize</key>
        <string>{380,210}</string>
      </dict>
      <key>UI资源/jr_00001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1528,212},{380,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,210}}</string>
        <key>sourceSize</key>
        <string>{380,210}</string>
      </dict>
      <key>UI资源/jr_00000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,212},{380,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,210}}</string>
        <key>sourceSize</key>
        <string>{380,210}</string>
      </dict>
      <key>UI资源/闪光0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1910,0},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>UI资源/加入.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,424},{363,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{363,171}}</string>
        <key>sourceSize</key>
        <string>{363,171}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>all_effect_ttw_main.png</string>
      <key>textureFileName</key>
      <string>all_effect_ttw_main.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
    </dict>
  </dict>
</plist>