<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,805},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>5ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,805},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>6ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,805},{57,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,27}}</string>
                <key>sourceSize</key>
                <string>{57,27}</string>
            </dict>
            <key>7ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,809},{57,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,25}}</string>
                <key>sourceSize</key>
                <string>{57,25}</string>
            </dict>
            <key>change.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,800},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>check_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,805},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,805},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>createRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,731},{199,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,67}}</string>
                <key>sourceSize</key>
                <string>{199,67}</string>
            </dict>
            <key>create_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{603,727}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,727}}</string>
                <key>sourceSize</key>
                <string>{603,727}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,731},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>renshu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,731},{124,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,72}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>rs_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,731},{124,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,72}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>select.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,731},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>select_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,805},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,800},{133,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,34}}</string>
                <key>sourceSize</key>
                <string>{133,34}</string>
            </dict>
            <key>useCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,809},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,24}}</string>
                <key>sourceSize</key>
                <string>{45,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>create.png</string>
            <key>size</key>
            <string>{607,836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfcfba2909591a4f9e9441ce63f5a0c8$</string>
            <key>textureFileName</key>
            <string>create.png</string>
        </dict>
    </dict>
</plist>
