<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>特按钮资源/quan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1175,648},{91,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,91}}</string>
        <key>sourceSize</key>
        <string>{91,91}</string>
      </dict>
      <key>特殊排型/battle-penjinbi-jinbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,980},{70,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,67}}</string>
        <key>sourceSize</key>
        <string>{70,67}</string>
      </dict>
      <key>特按钮资源/q_g.png</key>
      <dict>
        <key>frame</key>
        <string>{{1775,705},{107,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,107}}</string>
        <key>sourceSize</key>
        <string>{107,107}</string>
      </dict>
      <key>特按钮资源/特.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,892},{84,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,86}}</string>
        <key>sourceSize</key>
        <string>{84,86}</string>
      </dict>
      <key>coin_effect_dir/Symbol 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,664},{300,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,147}}</string>
        <key>sourceSize</key>
        <string>{300,147}</string>
      </dict>
      <key>coin_effect_dir/Symbol 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1884,705},{144,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,180}}</string>
        <key>sourceSize</key>
        <string>{144,180}</string>
      </dict>
      <key>coin_effect_dir/Symbol 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2001,186},{36,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,36}}</string>
        <key>sourceSize</key>
        <string>{36,36}</string>
      </dict>
      <key>特殊排型/04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1275,621},{270,270}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,270}}</string>
        <key>sourceSize</key>
        <string>{270,270}</string>
      </dict>
      <key>特殊排型/03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,622},{270,270}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,270}}</string>
        <key>sourceSize</key>
        <string>{270,270}</string>
      </dict>
      <key>特殊排型/02.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,392},{270,270}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,270}}</string>
        <key>sourceSize</key>
        <string>{270,270}</string>
      </dict>
      <key>特殊排型/01.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,392},{270,270}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,270}}</string>
        <key>sourceSize</key>
        <string>{270,270}</string>
      </dict>
      <key>特殊排型/枪.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,813},{264,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{264,158}}</string>
        <key>sourceSize</key>
        <string>{264,158}</string>
      </dict>
      <key>特殊排型/hit_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1745,928},{72,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,72}}</string>
        <key>sourceSize</key>
        <string>{72,72}</string>
      </dict>
      <key>特殊排型/hit_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,940},{145,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,124}}</string>
        <key>sourceSize</key>
        <string>{145,124}</string>
      </dict>
      <key>比牌资源/比牌中_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,1022},{83,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,29}}</string>
        <key>sourceSize</key>
        <string>{83,29}</string>
      </dict>
      <key>比牌资源/比牌中_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2032,234},{9,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,8}}</string>
        <key>sourceSize</key>
        <string>{9,8}</string>
      </dict>
      <key>理牌中资源/理牌中_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1732,1002},{85,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,29}}</string>
        <key>sourceSize</key>
        <string>{85,29}</string>
      </dict>
      <key>理牌中资源/理牌中_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2032,224},{11,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,8}}</string>
        <key>sourceSize</key>
        <string>{11,8}</string>
      </dict>
      <key>录音资源/录音_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1998,266},{29,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,6}}</string>
        <key>sourceSize</key>
        <string>{29,6}</string>
      </dict>
      <key>录音资源/录音_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2001,128},{35,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,56}}</string>
        <key>sourceSize</key>
        <string>{35,56}</string>
      </dict>
      <key>录音资源/录音_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2038,128},{3,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,3}}</string>
        <key>sourceSize</key>
        <string>{3,3}</string>
      </dict>
      <key>录音资源/录音_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1336,1029},{64,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,21}}</string>
        <key>sourceSize</key>
        <string>{64,21}</string>
      </dict>
      <key>特殊排型/球.png</key>
      <dict>
        <key>frame</key>
        <string>{{1918,463},{114,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,112}}</string>
        <key>sourceSize</key>
        <string>{114,112}</string>
      </dict>
      <key>特殊排型/棒球棍.png</key>
      <dict>
        <key>frame</key>
        <string>{{1547,621},{226,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,230}}</string>
        <key>sourceSize</key>
        <string>{226,230}</string>
      </dict>
      <key>特殊排型/棒球套.png</key>
      <dict>
        <key>frame</key>
        <string>{{1788,589},{108,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,114}}</string>
        <key>sourceSize</key>
        <string>{108,114}</string>
      </dict>
      <key>特殊排型/q_字.png</key>
      <dict>
        <key>frame</key>
        <string>{{847,973},{275,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{275,112}}</string>
        <key>sourceSize</key>
        <string>{275,112}</string>
      </dict>
      <key>start/kaishi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1270,893},{254,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{254,134}}</string>
        <key>sourceSize</key>
        <string>{254,134}</string>
      </dict>
      <key>start/zi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,894},{258,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{258,44}}</string>
        <key>sourceSize</key>
        <string>{258,44}</string>
      </dict>
      <key>start/01.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,1087},{410,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{410,108}}</string>
        <key>sourceSize</key>
        <string>{410,108}</string>
      </dict>
      <key>start/shanguan.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,716},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>start/爆点.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,664},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>start/quan.png</key>
      <dict>
        <key>frame</key>
        <string>{{1788,459},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>start/qiang.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,262},{125,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,200}}</string>
        <key>sourceSize</key>
        <string>{125,200}</string>
      </dict>
      <key>start/翅膀.png</key>
      <dict>
        <key>frame</key>
        <string>{{1788,261},{132,196}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,196}}</string>
        <key>sourceSize</key>
        <string>{132,196}</string>
      </dict>
      <key>特殊排型/字.png</key>
      <dict>
        <key>frame</key>
        <string>{{1700,1168},{280,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{280,110}}</string>
        <key>sourceSize</key>
        <string>{280,110}</string>
      </dict>
      <key>特殊排型/笋01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2001,64},{44,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,62}}</string>
        <key>sourceSize</key>
        <string>{44,62}</string>
      </dict>
      <key>特殊排型/土.png</key>
      <dict>
        <key>frame</key>
        <string>{{1998,224},{32,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,19}}</string>
        <key>sourceSize</key>
        <string>{32,19}</string>
      </dict>
      <key>特殊排型/笋.png</key>
      <dict>
        <key>frame</key>
        <string>{{1926,218},{70,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,112}}</string>
        <key>sourceSize</key>
        <string>{70,112}</string>
      </dict>
      <key>特殊排型/笋02.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,940},{58,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,80}}</string>
        <key>sourceSize</key>
        <string>{58,80}</string>
      </dict>
      <key>特殊排型/tu.png</key>
      <dict>
        <key>frame</key>
        <string>{{1819,995},{204,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,60}}</string>
        <key>sourceSize</key>
        <string>{204,60}</string>
      </dict>
      <key>特殊排型/3_zi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1700,1057},{281,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{281,109}}</string>
        <key>sourceSize</key>
        <string>{281,109}</string>
      </dict>
      <key>特殊排型/6_zi.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,1029},{281,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{281,109}}</string>
        <key>sourceSize</key>
        <string>{281,109}</string>
      </dict>
      <key>特殊排型/底.png</key>
      <dict>
        <key>frame</key>
        <string>{{1284,0},{640,259}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{640,259}}</string>
        <key>sourceSize</key>
        <string>{640,259}</string>
      </dict>
      <key>特殊排型/5_字.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1090},{366,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{366,107}}</string>
        <key>sourceSize</key>
        <string>{366,107}</string>
      </dict>
      <key>特殊排型/四_zi&amp;#032.png</key>
      <dict>
        <key>frame</key>
        <string>{{2043,130},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>特殊排型/5_土.png</key>
      <dict>
        <key>frame</key>
        <string>{{1998,245},{32,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,19}}</string>
        <key>sourceSize</key>
        <string>{32,19}</string>
      </dict>
      <key>特殊排型/5_笋.png</key>
      <dict>
        <key>frame</key>
        <string>{{1775,814},{70,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,112}}</string>
        <key>sourceSize</key>
        <string>{70,112}</string>
      </dict>
      <key>特殊排型/5_笋01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2001,0},{44,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,62}}</string>
        <key>sourceSize</key>
        <string>{44,62}</string>
      </dict>
      <key>特殊排型/5_笋02.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,940},{58,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,80}}</string>
        <key>sourceSize</key>
        <string>{58,80}</string>
      </dict>
      <key>特殊排型/5_tu.png</key>
      <dict>
        <key>frame</key>
        <string>{{1526,995},{204,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,60}}</string>
        <key>sourceSize</key>
        <string>{204,60}</string>
      </dict>
      <key>特殊排型/c_zi&amp;#032.png</key>
      <dict>
        <key>frame</key>
        <string>{{2045,128},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>特殊排型/ui_fanpaidonghua.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,262},{648,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{648,128}}</string>
        <key>sourceSize</key>
        <string>{648,128}</string>
      </dict>
      <key>特殊排型/6_hua.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,882},{194,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,106}}</string>
        <key>sourceSize</key>
        <string>{194,106}</string>
      </dict>
      <key>特殊排型/6_hua01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1547,853},{196,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,140}}</string>
        <key>sourceSize</key>
        <string>{196,140}</string>
      </dict>
      <key>特殊排型/白.png</key>
      <dict>
        <key>frame</key>
        <string>{{1175,520},{98,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,126}}</string>
        <key>sourceSize</key>
        <string>{98,126}</string>
      </dict>
      <key>特殊排型/方块.png</key>
      <dict>
        <key>frame</key>
        <string>{{1918,577},{98,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,126}}</string>
        <key>sourceSize</key>
        <string>{98,126}</string>
      </dict>
      <key>特殊排型/梅花.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,464},{98,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,126}}</string>
        <key>sourceSize</key>
        <string>{98,126}</string>
      </dict>
      <key>特殊排型/红.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,592},{94,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,122}}</string>
        <key>sourceSize</key>
        <string>{94,122}</string>
      </dict>
      <key>特殊排型/黑桃.png</key>
      <dict>
        <key>frame</key>
        <string>{{1175,392},{98,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,126}}</string>
        <key>sourceSize</key>
        <string>{98,126}</string>
      </dict>
      <key>特殊排型/全小_zi&amp;#032.png</key>
      <dict>
        <key>frame</key>
        <string>{{2045,132},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>特殊排型/全_zi&amp;#032.png</key>
      <dict>
        <key>frame</key>
        <string>{{2043,128},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>特殊排型/5_底.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,0},{640,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{640,260}}</string>
        <key>sourceSize</key>
        <string>{640,260}</string>
      </dict>
      <key>特殊排型/5_yun&amp;#032.png</key>
      <dict>
        <key>frame</key>
        <string>{{2043,132},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>特殊排型/5_yun01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1160,741},{110,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,78}}</string>
        <key>sourceSize</key>
        <string>{110,78}</string>
      </dict>
      <key>特殊排型/三_zi&amp;#032.png</key>
      <dict>
        <key>frame</key>
        <string>{{2045,130},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>特殊排型/花瓣02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,987},{68,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,44}}</string>
        <key>sourceSize</key>
        <string>{68,44}</string>
      </dict>
      <key>特殊排型/花瓣01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1124,987},{70,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,48}}</string>
        <key>sourceSize</key>
        <string>{70,48}</string>
      </dict>
      <key>特殊排型/花瓣03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1266,1029},{68,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,36}}</string>
        <key>sourceSize</key>
        <string>{68,36}</string>
      </dict>
      <key>特殊排型/花.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,740},{196,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,140}}</string>
        <key>sourceSize</key>
        <string>{196,140}</string>
      </dict>
      <key>特殊排型/花01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1847,887},{194,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,106}}</string>
        <key>sourceSize</key>
        <string>{194,106}</string>
      </dict>
      <key>特殊排型/3_字.png</key>
      <dict>
        <key>frame</key>
        <string>{{1336,1057},{362,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{362,113}}</string>
        <key>sourceSize</key>
        <string>{362,113}</string>
      </dict>
      <key>特殊排型/彩虹.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,622},{220,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,116}}</string>
        <key>sourceSize</key>
        <string>{220,116}</string>
      </dict>
      <key>特殊排型/qi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1124,821},{144,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,164}}</string>
        <key>sourceSize</key>
        <string>{144,164}</string>
      </dict>
      <key>特殊排型/皇冠.png</key>
      <dict>
        <key>frame</key>
        <string>{{1922,332},{105,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,129}}</string>
        <key>sourceSize</key>
        <string>{105,129}</string>
      </dict>
      <key>特殊排型/十二_zi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,1172},{362,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{362,108}}</string>
        <key>sourceSize</key>
        <string>{362,108}</string>
      </dict>
      <key>特殊排型/法杖.png</key>
      <dict>
        <key>frame</key>
        <string>{{1926,0},{73,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,216}}</string>
        <key>sourceSize</key>
        <string>{73,216}</string>
      </dict>
      <key>特殊排型/1_zi.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,922},{291,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{291,105}}</string>
        <key>sourceSize</key>
        <string>{291,105}</string>
      </dict>
      <key>特殊排型/龙.png</key>
      <dict>
        <key>frame</key>
        <string>{{1284,261},{502,358}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{502,358}}</string>
        <key>sourceSize</key>
        <string>{502,358}</string>
      </dict>
      <key>特殊排型/q_云02.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,818},{102,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,72}}</string>
        <key>sourceSize</key>
        <string>{102,72}</string>
      </dict>
      <key>特殊排型/q_云01.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,990},{170,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,98}}</string>
        <key>sourceSize</key>
        <string>{170,98}</string>
      </dict>
      <key>特殊排型/至尊_字.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,1140},{362,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{362,108}}</string>
        <key>sourceSize</key>
        <string>{362,108}</string>
      </dict>
      <key>特殊排型/青龙.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,262},{502,358}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{502,358}}</string>
        <key>sourceSize</key>
        <string>{502,358}</string>
      </dict>
      <key>特殊排型/q_底.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{640,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{640,260}}</string>
        <key>sourceSize</key>
        <string>{640,260}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>all_effect.png</string>
      <key>textureFileName</key>
      <string>all_effect.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
    </dict>
  </dict>
</plist>