<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>public-pic-card-poker-1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{144,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,202}}</string>
                <key>sourceSize</key>
                <string>{144,202}</string>
            </dict>
            <key>public-pic-card-poker-1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,608},{144,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,202}}</string>
                <key>sourceSize</key>
                <string>{144,202}</string>
            </dict>
            <key>public-pic-card-poker-1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,608},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,608},{146,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,202}</string>
            </dict>
            <key>public-pic-card-poker-1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,608},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,608},{146,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,202}</string>
            </dict>
            <key>public-pic-card-poker-1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,194}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{140,194}}</string>
                <key>sourceSize</key>
                <string>{146,202}</string>
            </dict>
            <key>public-pic-card-poker-1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,406},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,406},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,406},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,406},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,608},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,608},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,812},{144,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,202}}</string>
                <key>sourceSize</key>
                <string>{144,202}</string>
            </dict>
            <key>public-pic-card-poker-2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,812},{144,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,202}}</string>
                <key>sourceSize</key>
                <string>{144,202}</string>
            </dict>
            <key>public-pic-card-poker-2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,812},{144,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,202}}</string>
                <key>sourceSize</key>
                <string>{144,202}</string>
            </dict>
            <key>public-pic-card-poker-2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,812},{144,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,202}}</string>
                <key>sourceSize</key>
                <string>{144,202}</string>
            </dict>
            <key>public-pic-card-poker-2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,812},{144,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,202}}</string>
                <key>sourceSize</key>
                <string>{144,202}</string>
            </dict>
            <key>public-pic-card-poker-2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,812},{144,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,202}}</string>
                <key>sourceSize</key>
                <string>{144,202}</string>
            </dict>
            <key>public-pic-card-poker-2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,812},{144,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,202}}</string>
                <key>sourceSize</key>
                <string>{144,202}</string>
            </dict>
            <key>public-pic-card-poker-2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,608},{146,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,202}</string>
            </dict>
            <key>public-pic-card-poker-2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,812},{146,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,202}</string>
            </dict>
            <key>public-pic-card-poker-2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,812},{144,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,202}}</string>
                <key>sourceSize</key>
                <string>{144,202}</string>
            </dict>
            <key>public-pic-card-poker-2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,608},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,812},{146,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,202}</string>
            </dict>
            <key>public-pic-card-poker-2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,608},{146,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,202}</string>
            </dict>
            <key>public-pic-card-poker-3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,406},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,204},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,204},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,204},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,196}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{140,196}}</string>
                <key>sourceSize</key>
                <string>{146,202}</string>
            </dict>
            <key>public-pic-card-poker-3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,2},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,204},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,406},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,406},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,406},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,406},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,406},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,204},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,204},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,204},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,204},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,204},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,204},{146,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,200}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
            <key>public-pic-card-poker-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{140,196}}</string>
                <key>sourceSize</key>
                <string>{146,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pockList.png</string>
            <key>size</key>
            <string>{1630,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65fe24d612337e11e93d5ad89410e7a9$</string>
            <key>textureFileName</key>
            <string>pockList.png</string>
        </dict>
    </dict>
</plist>
