<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>26_zi_prepare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,34}</string>
                <key>spriteSourceSize</key>
                <string>{64,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_quanleida.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,90}</string>
                <key>spriteSourceSize</key>
                <string>{262,90}</string>
                <key>textureRect</key>
                <string>{{64,0},{262,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>special_words.png</string>
            <key>size</key>
            <string>{326,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2185498cadf77ef71a487c3a41156ec1:68972665b748cf5666f2a7b811dd8f4c:863ee546e462e32806b22b5053ab14d3$</string>
            <key>textureFileName</key>
            <string>special_words.png</string>
        </dict>
    </dict>
</plist>
